---
siteTitle: A World Without Apps
---

<!DOCTYPE HTML>
<!--
Arcana by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>
  <head>
    {% if title %}
      <title>{{ siteTitle }}: {{ title }}
      </title>
    {% else %}
      <title>{{ siteTitle }}</title>
    {% endif %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="generator" content="{{ eleventyinfo.generatorStr}}" />
    <meta name="author" content="John M. Wargo">
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if categories.length > 0 %}
      <meta name="keywords" content="{% getKeywords categories %}">
    {% endif %}
    <link rel="stylesheet" href="{{ "/" | htmlBaseUrl }}assets/css/main.css" />
    <link rel="stylesheet" href="{{ "/" | htmlBaseUrl }}assets/css/scott.css" />
    {% include 'icons.html' %}
    {% include 'google-analytics.html' %}
  </head>
  <body class="is-preload">
    <div id="page-wrapper">
      <div id="header">
        <img
          src="{{ "/" | htmlBaseUrl }}images/wwa-logo-128.png"
          alt="A World Without Apps Logo"
          id="wwa-logo" />
        <h1>
          <a href="/" id="logo">{{ siteTitle }}</a>
        </h1>
        {% include 'nav.html' %}
      </div>

      <!-- Main -->
      <section class="wrapper style1">
        <div class="container">
          {% if headerImage %}
            <span class="image featured"><img src="{{ headerImage }}" alt="{{ headerImageAltText }}" /></span>
          {% endif %}
          {% if title %}
            <h2>{{ title }}</h2>
          {% endif %}
          {{ content }}
        </div>
      </section>

      <div id="footer">
        {% include 'copyright.html' %}
      </div>
    </div>

    {% include 'page-scripts.html' %}

  </body>
</html>