---
title: Articles
description: All posts on johnwargo.com in reverse chronological order.
layout: generic
pagination:
  data: collections.post
  size: 20
  alias: posts
  reverse: true 
---

<p>This page lists all articles in reverse chronological order. Use the
  <a href="{{ "/" | htmlBaseUrl }}categories">Categories</a>
  page to view the list of categories or
  <a href="{{ "/" | htmlBaseUrl }}search">Search</a>
  to locate a particular article.</p>

{% include 'pagination-count.html' %}

<ul class="posts">
  {% for post in posts %}
    <li>
      <h4>
        <a href="{{post.url}}" style="cursor: pointer">{{ post.data.title }}</a>
      </h4>
      Posted {{ post.date | readableDate }}&nbsp;
      {% if post.data.categories.length > 0 %}
        in
        {% for cat in post.data.categories %}
          <a href="/categories/{{ cat | slugify }}">{{ cat }}</a>
          {%- unless forloop.last %},
          {% endunless %}
        {% endfor %}
      {% endif %}
      <br/>
      {% if post.data.description %}
        {{ post.data.description }}
      {% else %}
        {% excerpt post %}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %}