---
title: Categories
description: Displays a list of all post categories on the site. From here you can click a link to open a page displaying all of the posts for the particular category.
layout: default
eleventyNavigation:
  key: Categories
  order: 3
---

{% assign categories = category-meta | sort %}

<p>View all posts for a particular category by clicking on one of the categories listed below. There are {{ categories.length }} categories on the site today.</p>

{% if categories.length > 0 %}
  {% for catData in categories %}
    <article>
      <h4>
        <a href="{{ "/" | htmlBaseUrl }}categories/{{ catData.category | slugify }}/">{{ catData.category }}</a>
      </h4>
      <p>({{ catData.count }} Post{%- if catData.count > 1 %}s{% endif %})</span>
      {%- if catData.description.length > 0 %} | {{ catData.description }}{% endif %}</p>
    </article>
  {% endfor %}
{% else %}
    <p>No category data to display (this should never happen).</p>
{% endif %}
