---
# title: Home
description: Articles and stuff about our World Without Apps
categories:
  - Apps
  - Artificial Intelligence
  - Machine Learning
  - Natural Language Processing
  - AI
  - ML
  - NLP
layout: default
eleventyNavigation:
  key: Home
  order: 1
---

{% assign latest_posts = collections.posts | reverse %}

<div class="row gtr-200">
  <div class="col-4 col-12-narrower">
    <div id="sidebar">      
      <section>
        <h3>
          <a href="https://www.amazon.com/Learning-Progressive-Apps-Wargo-John-ebook/dp/B084T4JK3S" target="_blank">Learning Progressive Web Apps</a>
        </h3>
        <p>My latest book teaches you how to build Progressive Web apps for desktops and mobile devices.</p>
        <a href="https://www.amazon.com/Learning-Progressive-Apps-Wargo-John-ebook/dp/B084T4JK3S" target="_blank">
          <img src="/images/learning-pwa-160.jpg" />
        </a>
      </section>         
    </div>
  </div>
  <div class="col-8  col-12-narrower imp-narrower">
    <div id="content">
      <article>
        <span class="image featured"><img src="/images/headers/cropped-wwa-header-cropped-1200.png" alt="an image with a bunch of app icons in clouds" /></span>
        <header>
          <h2>All About the World Without Apps</h2>
          <p>My thoughts on AI, ML, NLP and more.</p>
        </header>
        <p>I've been involved in mobile apps since the early 2000's and published 6
          <a href="https://johnwargobooks.com" target="_blank">books on the topic</a>. Since then, I've watched the market mature and noticed that advancements in technology (mostly natural language processing - NLP) was changing how users accomplished things on mobile devices. Recently, changes in Machine Learning further solidified the use of language instead of apps to deliver results on mobile devices, desktop computers, and more.</p>
        </p>
        <p>This site contains posts I wrote to explain what I see in this space and how I think it affects users, apps, society, and more. The thoughts and words presented here are mine and mine alone, and do not reflect the position or interests of my employer.</p>
      </article>

      <h2>
        <a href="{{ "/" | htmlBaseUrl }}articles">Recent Articles</a>
      </h2>

      {% for post in latest_posts limit: 5 %}
        <article>          
          <h4>
            <a href="{{post.url}}">{{ post.data.title }}</a>
          </h4>
          <p>
            <strong>
              Date:
            </strong>
            {{ post.date | readableDate }}
            {% if post.data.categories.length > 0 %}
              |
              <strong>
                Categories:
              </strong>
              {% for cat in post.data.categories %}
                <a href="/categories/{{ cat | slugify }}">{{ cat | strip }}</a>
                {%- unless forloop.last %},
                {% endunless %}
              {% endfor %}
            {% endif %}
          </p>
          <p>
            {% if post.data.description %}
              {{ post.data.description }}
            {% else %}
              {% excerpt post %}
            {% endif %}
          </p>
        </article>
      {% endfor %}
      <br />
      <a href="/articles" class="button">View All Articles</a>
    </div>
  </div>
</div>