---
# title: Home
description: Articles and stuff about our World Without Apps
categories:
  - Apps
  - Artificial Intelligence
  - Machine Learning
  - Natural Language Processing
  - NLP
layout: default
eleventyNavigation:
  key: Home
  order: 1
---

{% assign latest_posts = collections.posts | reverse %}

<div class="row gtr-200">
  <div class="col-4 col-12-narrower">
    <div id="sidebar">
      <section>
        <h3>Popular Articles</h3>
        <ul class="links">
          <li>
            <a href="#">Amet turpis, feugiat et sit amet</a>
          </li>
          <li>
            <a href="#">Ornare in hendrerit in lectus</a>
          </li>
          <li>
            <a href="#">Semper mod quis eget mi dolore</a>
          </li>
          <li>
            <a href="#">Consequat etiam lorem phasellus</a>
          </li>
          <li>
            <a href="#">Amet turpis, feugiat et sit amet</a>
          </li>
          <li>
            <a href="#">Semper mod quisturpis nisi</a>
          </li>
        </ul>
        <footer>
          <a href="/articles" class="button">All Articles</a>
        </footer>
      </section>

    </div>
  </div>
  <div class="col-8  col-12-narrower imp-narrower">
    <div id="content">

      <article>
        <span class="image featured"><img src="/images/cropped-wwa-header-cropped-1200.png" alt="" /></span>
        <header>
          <h2>Living in a World Without Apps</h2>
          <p>Natoque in sed morbi, commodo at cep aenean.</p>
        </header>
        <p>Hamburger ball tip pastrami swine salami. Alcatra short loin pork drumstick pork loin shoulder t-bone. Ribeye beef ribs rump biltong cow shank. Cow filet mignon alcatra spare ribs brisket drumstick jowl venison turkey capicola buffalo.</p>
        <p>Sirloin ham fatback, pork loin jowl ribeye landjaeger pork chop burgdoggen bacon turkey flank meatball chislic capicola. Frankfurter ball tip rump pig chuck tongue beef ribs bacon jerky sausage swine. Boudin drumstick doner, shoulder filet mignon flank short ribs pig sirloin pork t-bone strip steak bresaola. Corned beef tri-tip shoulder shank cupim buffalo. Alcatra ribeye beef ribs jowl kielbasa tail biltong bacon landjaeger pork loin t-bone. Boudin shank rump frankfurter beef ribs landjaeger shankle cupim leberkas sausage spare ribs tongue chicken ground round corned beef. Biltong kielbasa turducken frankfurter ribeye spare ribs tail bacon corned beef.</p>
        <p>Cupim beef flank alcatra. Pork chop turducken chicken buffalo flank tenderloin. Porchetta t-bone tail, shank bresaola pork fatback meatball. Ham chuck sausage tail.</p>
      </article>

      <h2>
        <a href="{{ "/" | htmlBaseUrl }}articles">Recent Posts</a>
      </h2>


      {% for post in latest_posts limit: 5 %}
        <article>
          {% if post.headerImage %}
            <span class="image featured"><img src="{{ post.data.headerImage }}" alt="" /></span>
          {% endif %}
          <header>
            <h4>
              <a href="{{post.url}}">{{ post.data.title }}</a>
            </h4>
          </header>
          <p>
            <strong>
              Date:
            </strong>
            {{ post.date | readableDate }}
            {% if post.data.categories.length > 0 %}
              |
              <strong>
                Categories:
              </strong>
              {% for cat in post.data.categories %}
                <a href="/categories/{{ cat | slugify }}">{{ cat | strip }}</a>
                {%- unless forloop.last %},
                {% endunless %}
              {% endfor %}
            {% endif %}
          </p>
          <p>
            {% if post.data.description %}
              {{ post.data.description }}
            {% else %}
              {% excerpt post %}
            {% endif %}
          </p>
        </article>
      {% endfor %}
    </div>
  </div>
</div>