---
title: Site Statistics
description: A list of statistics about this site.
layout: generic
---

{% if collections.postStats.count > 0 %}
  <ul>
    <li>
      <strong>Post Count:</strong>
      {{ collections.postStats.count | commaize }}</li>
    <li>
      <strong>Average days between posts:</strong>
      {{ collections.postStats.avgDays | commaize }}</li>
    <li>
      <strong>First Post:</strong>
      {{ collections.postStats.firstPostDate | readableDate }}
    </li>
    <li>
      <strong>Last Post:</strong>
      {{ collections.postStats.lastPostDate | readableDate }}
    </li>
    <li>
      <strong>Deployments:</strong>
      {{ buildinfo.buildCounter | commaize }}
    </li>
    <li>
      <strong>Build Date:</strong>
      {{ buildinfo.buildDateStr }}
    </li>
    <li>
      <strong>Build Version:</strong>
      {{ buildinfo.buildVersion }}
    </li>
    <li>
      <strong>Generator:</strong>
      <a href="https://www.11ty.dev/" target="_blank">{{ eleventyinfo.generatorStr }}</a>
    </li>
  </ul>

  <style>
    table,
    th,
    td {
      width: 350px;
      text-align: center;
      vertical-align: bottom;
    }

    .chart-container {
      max-width: 1280px;
    }
  </style>

  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Count</th>
        <th>Avg. Days Between Posts</th>
      </tr>
    </thead>
    <tbody>
      {% for year in collections.postStats.years %}
        <tr>
          <td>{{ year.year }}</td>
          <td>{{ year.count }}</td>
          <td>{{ year.avgDays }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="chart-container">
    <canvas id="statsChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('statsChart');
    new Chart(ctx, {
      data: {
        labels: [{% for year in collections.postStats.years %}'{{ year.year }}'{%- unless forloop.last %},{% endunless %}{% endfor %}],
      datasets: [
        {
          type: 'bar',
          label: 'Number of Posts',
          data: [{% for year in collections.postStats.years %}{{ year.count | commaize }}{%- unless forloop.last %},{% endunless %}{% endfor %}],
          borderWidth: 1,
          order: 1
        }, {
          type: 'line',
          label: 'Average Number of Days Between Posts',
          data: [{% for year in collections.postStats.years %}{{ year.avgDays | commaize }}{%- unless forloop.last %},{% endunless %}{% endfor %}],
          lineTension: 0.8,
          order: 2
        }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Number of Posts'
          }
        },
        x: {
          title: {
            display: true,
            text: 'Post Year'
          }
        }
      }
    }
  });
  </script>

{% else %}
  <p>
    <strong>No data to display</strong>
  </p>

{% endif %}